<html>
<!-- Adapted from the people.html UI design -->

<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>EATT Drivers</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
		function showform(dowhat) {
			/*
			 * four DIVS: browse, insert, update, delete
			 * this function sets one visible the others not
			 */
			if (dowhat == 'insert') {
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('edit').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			} else if (dowhat == 'update') {
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('edit').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			} else if (dowhat == 'delete') {
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('edit').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			} else if (dowhat == 'all') {
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('edit').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			} else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('edit').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
		function newDrivers() {
			showform('insert');
		}
		function updateDrivers(pid) {
			showform('update');
		}
		function deleteDrivers(pid) {
			showform('delete');
		}
		function browseDrivers() {
			showform('browse');
		}
		function showAll() {
			showform('all');
		}
	</script>
</head>

<body onload="browseDrivers()">
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">EATT Ordering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customers">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/drivers">Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/items">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/discounts">Discounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order_items">Order Items</a>
      </li>
    </ul>
  </div>
</nav>
	<h1>Browse Drivers</h1>
	<div id="browse">
		<p><a href="#" onClick="newDrivers()">Add Driver</a> </p>
			<!-- Access data tuple passed from app.py -->
			{% if data %}
			<table class="table table-striped">
  				<thead class="thead-dark">
				<tr>
					<!-- Iterate through each key in the first entry to get the column name -->
					{% for key in data[0].keys() %}

					<!-- Create a <th> tag with the key inside of it, this will be our header row -->
					<th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

					<!-- End of this for loop -->
					{% endfor %}
				</tr>

			<tbody>
				<!-- Now, iterate through every item in data -->{% for item in data %}
				<tr>
					<!-- Then iterate through every key in the current item dictionary -->
					{% for key in item.keys() %}

					<!-- Create a <td> element with the value of that key in it -->
					<td> {{item[key]}} </td>
					{% endfor %}

					<!-- Create our edit/delete buttons -->

				</tr>
				{% endfor %}
				{% endif %}
		</table>
		<p>&nbsp;</p>
	</div>

	<div id="insert">
		<!-- form to INSERT new data into Drivers-->
		<form id="insertDrivers" action="/drivers" method="post">
			<legend><strong>Add Driver</strong></legend>
			<fieldset>
				<label for="dname">Name:</label>
				<input type="text" class="form-control" id="dname" name="dname" placeholder="" required>
			</fieldset>

			<!-- Create 'Add Driver' and 'Cancel' buttons -->
			<input type="submit" value="Add Driver" name="Add_Drivers" class="btn btn-primary"
				style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseDrivers()">
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>	