<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>EATT Ordering Website</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">EATT Ordering</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customers">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/drivers">Drivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/items">Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/discounts">Discouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order_items">Order Items</a>
        </li>
      </ul>
    </div>
  </nav>
  <h2>Welcome to the EATT Ordering System</h2>
  <br>
  <h3>What would you like to do?</h3>
  <h4>Orders</h4>
  <p>Visit the Orders page to view all orders. You will also be able to add, edit, and delete orders.</p>
  <h4>Customers</h4>
  <p>The Customers page allows you to view customer data including all relevant contact information. You can search for
    specific customers by name. You will also be able to add or edit customers.</p>
  <h4>Drivers</h4>
  <p>The Drivers page tracks all the delivery drivers working for the company. You will be able to view and add drivers.
  </p>
  <h4>Items</h4>
  <p>The Items page documents all of the menu items available at the restaraunt. You can add, edit, or delete items
    from the menu.</p>
  <h4>Discounts</h4>
  <p>The Discounts page keeps track of the all deals and promotions. You will be able to view and add discounts.</p>
  <h4>Order Items</h4>
  <p>The Order Items page allows us to view the items associated with each order. You can also add, edit, or delete
    Order Items from this page.</p>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>