<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EAAT Ordering Website</title>
</head>

<body>
    <h1>EAAT Ordering Website</h1>
    <nav>
        <a href="index.html">Homepage</a>
        <a href="pages/orders.html">Orders</a>
        <a href="customers">Customers</a>
        <a href="pages/drivers.html">Drivers</a>
        <a href="pages/items.html">Items</a>
        <a href="pages/discounts.html">Discounts</a>
        <a href="pages/order_items.html">Order Items</a>
    </nav>
    <h2>What would you like to do?</h2>
    <h3>Orders</h3>
    <p>Visit the Orders page to view all orders. You will also be able to add, edit, and delete orders.</p>
    <h3>Customers</h3>
    <p>The Customers page allows you to view customer data including all relevant contact information. You will also be
        able to add, edit, or delete customers.</p>
    <h3>Drivers</h3>
    <p>The Drivers page tracks all the delivery drivers working for the company. You can add, edit, or delete drivers
        for the database.</p>
    <h3>Items</h3>
    <p>The Items page documents all of the menu items available at our restaraunt. You can add, edit, or delete items
        from the menu.</p>
    <h3>Discounts</h3>
    <p>The Discounts page keeps track of the all deals and promotions. You will be able to add new discounts or edit and
        delete existing discounts.</p>
    <h3>Order Items</h3>
    <p>The Order Items page allows us to view the items associated with each order.</p>
</body>

</html>