<html>
<!-- Adapted from the people.html UI design -->

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>EAAT Order Items</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">
        function showform(dowhat) {
            /*
             * four DIVS: browse, insert, update, delete
             * this function sets one visible the others not
             */
            if (dowhat == 'insert') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            } else if (dowhat == 'update') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('edit').style.display = 'block';
                document.getElementById('delete').style.display = 'none';
            } else if (dowhat == 'delete') {
                document.getElementById('browse').style.display = 'none';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('delete').style.display = 'block';
            } else if (dowhat == 'all') {
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'block';
                document.getElementById('edit').style.display = 'block';
                document.getElementById('delete').style.display = 'block';
            } else { //by default display browse
                document.getElementById('browse').style.display = 'block';
                document.getElementById('insert').style.display = 'none';
                document.getElementById('edit').style.display = 'none';
                document.getElementById('delete').style.display = 'none';
            }
        }

        function newOrderItems() {
            showform('insert');
        }

        function updateOrderItems(pid) {
            showform('update');
        }

        function deleteOrderItems(pid) {
            showform('delete');
        }

        function browseOrderItems() {
            showform('browse');
        }

        function showAll() {
            showform('all');
        }
    </script>
</head>

<body onload="browseOrderItems()">
    <nav>
        <a href="/">Homepage</a>
        <a href="orders">Orders</a>
        <a href="customers">Customers</a>
        <a href="drivers">Drivers</a>
        <a href="items">Items</a>
        <a href="discounts">Discounts</a>
        <a href="order_items">Order Items</a>
    </nav>
    <h1>Browse Order Items</h1>
    <div id="browse">
        <p><a href="#" onClick="newOrderItems()">Add Order Item</a> </p>
        <table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py -->
            {% if data %}
            <thead>
                <tr>
                    <!-- Iterate through each key in the first entry to get the column name -->
                    {% for key in data[0].keys() %}

                    <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                    <!-- End of this for loop -->
                    {% endfor %}
                </tr>

            <tbody>
                <!-- Now, iterate through every item in data -->{% for item in data %}
                <tr>
                    <!-- Then iterate through every key in the current item dictionary -->
                    {% for key in item.keys() %}

                    <!-- Create a <td> element with the value of that key in it -->
                    <td> {{item[key]}} </td>
                    {% endfor %}

                    <!-- Create our edit/delete buttons -->
                    <td><a href="edit_order_items/{{item.orderID}}" class="btn btn-default">Edit</a></td>
                    <td><a href="delete_order_items/{{item.orderID}}" class="btn btn-default">Delete</a></td>

                </tr>
                {% endfor %}
                {% endif %}
        </table>
        <p>&nbsp;</p>
    </div>

    <div id="insert">
        <!-- form to INSERT new data into Customers-->
        <form id="insertCustomers" action="/customers" method="post">
            <legend><strong>Add Customer</strong></legend>
            <fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
                <label for="cname">Customer Name:</label>
                <input type="text" class="form-control" id="cname" name="cname" placeholder="" required>

                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="" required>

                <label for="phone">Phone Number:</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="" required>

                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="" required>
            </fieldset>

            <!-- Create 'Add Customer' and 'Cancel' buttons -->
            <input type="submit" value="Add Customer" name="Add_Customers" class="btn btn-primary"
                style="margin:.5rem;">
            <input class="btn" type="button" value="Cancel" onClick="browseCustomers()">
        </form>
    </div>

    <div id="edit">
        <!-- form to edit data in Customers-->
        <form id="editCustomers" action="/edit_customers/{{data[0].customerID}}" method="post">
            <legend><strong>Edit Customer</strong></legend>
            <fieldset>
                <input type="hidden" value="{{data[0].customerID}}" class="form-control" id="customerID"
                    name="customerID" required>

                <label for="cname">Customer Name:</label>
                <input type="text" class="form-control" id="cname" name="cname" placeholder="" required>

                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="" required>

                <label for="phone">Phone Number:</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="" required>

                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="" required>
            </fieldset>
            <input class="btn" type="button" value="Cancel" onClick="browseCustomers()" style="margin:.5rem;">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>